@model List<QuanLyNhanVienClient.MVC.Models.Employee>
@using System.Text.Json;
<table id="table_id" class="table table-dark table-striped table-hover table-sm table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ</th>
            <th>Họ lót</th>
            <th>Tên</th>
            <th>Phone</th>
            <th>Chức vụ</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Họ</th>
            <th>Họ lót</th>
            <th>Tên</th>
            <th>Phone</th>
            <th>Chức vụ</th>
            <th>Hành động</th>
        </tr>
    </tfoot>
</table>
<hr />
<h3 class="message"></h3>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script>
            $(document).ready(function () {
                //Dùng JsonConvert.SerializeObject trong Newtonsoft.Json
                //để chuyển đối tượng List < Employee > sang Json
                //Dùng Html.Raw để tránh việc mã hoá Json thành html
                //Chuyển sang dùng JsonSerializer.Serialize System.Text.Json
                //Cũng có tác dụng tương tự, nhưng mặc định sẵn
                var json =@Html.Raw(JsonSerializer.Serialize(Model));
                var table = $('#table_id').DataTable({
                    //Data đưa vào là một chuỗi json
                    "data": json,

                    //Sắp xếp các thành phần:
                    "dom": 'Bfrtilp',

                    //Thêm các button sẵn có và tuỳ chỉnh
                    "buttons": [
                        //Tạo một button tuỳ chỉnh:
                        {
                            text: '<i class="fas fa-plus"></i> Thêm',
                            className: 'btn btn-success',
                            //Điều hướng đến trang Insert
                            action: function (dt) {
                                location.href = "employee/insert" ;
                            }
                        },

                        //Các button sẵn có:
                        //'copy',
                        'excel',
                        'pdf',
                        'print'
                    ],

                    "responsive": true,

                    //Định nghĩa các data trong từng cột
                    "columns": [
                        { "data": 'IdEmployees' },
                        { "data": 'LastName' },
                        { "data": 'MiddleName' },
                        { "data": 'FirstName' },
                        { "data": 'Phone' },
                        { "data": 'Title'  },
                        {
                            "data": null,
                            "render": {
                                //"_": ,
                                //"filter": "",
                                "display": function (data, type, row, meta) {
                                    //return '<i class="far fa-trash-alt"></i>';
                                    return '<a class="btn btn-info btn-sm" href="employee/info/' + data.IdEmployees + '"><i class="fas fa-info icon-large"></i> Chi tiết</a>'+
                                        '<a class="btn btn-warning btn-sm" href="employee/update/' + data.IdEmployees + '"><i class="far fa-edit icon-large"></i> Sửa</a>'+
                                        '<a class="btn btn-danger btn-sm" href="employee/delete/' + data.IdEmployees + '"><i class="far fa-trash-alt icon-large"></i> Xoá</a>';
                                }
                            }

                        }
                        //{ data: null, "defaultContent": "<button>Sửa</button>"}
                    ],

                    //Phân trang thành 3 trang
                    //"pageLength": 3,

                    //Ngôn ngữ các Dom
                    "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json" },

                    //Định nghĩa các cột
                    "columnDefs": [{

                        //Cột định nghĩa -1 là cột cuối cùng
                        "targets": -1,

                        //loại bỏ sort
                        "orderable": false
                    }]
                });

            });
    </script>
}